@media all and (max-width: 1100px) {
  /* Move Pagination UI for table */
  .MuiTablePagination-spacer {
    flex: none !important;
  }
}

@media all and (max-width: 600px) {
  #GeoharvesterLogo {
    display: none;
  }

  .Dropdown {
    min-width: 80px;
  }
}

.AppBarSpacing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* height: 50; */
}

.PageWrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
  min-width: 50vw;
}

.SearchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80 px;
}

#select-provider {
  display: flex;
  align-items: center;
}

tr th span {
  color: white !important;
}

#subRowField1 {
  border-right: 1px solid #f0f0f0;
  padding: 20px;
  min-width: 240px;
  max-width: 240px;
  margin-left: 120px;
}
#subRowField2 {
  border-right: 1px solid #f0f0f0;
  padding: 20px;
}
#subRowField3 {
  padding: 20px;
}
