@media all and (max-width: 1100px) {
  /* Move Pagination UI for table */
  .MuiTablePagination-spacer {
    flex: none !important;
  }
}

@media all and (max-width: 600px) {
  #GeoharvesterLogo {
    display: none;
  }

  .Dropdown {
    min-width: 80px;
  }
}

.AppBarSpacing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.PageWrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
  min-width: 50vw;
}

.SearchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80 px;
}

#select-provider {
  display: flex;
  align-items: center;
}

tr th span {
  color: white !important;
}

#subRowField1 {
  border-right: 1px solid #f0f0f0;
  padding: 20px;
  min-width: 320px;
  max-width: 320px;
  margin-left: 120px;
}
#subRowField2 {
  padding: 20px;
}
#subRowField3 {
  border-left: 1px solid #f0f0f0;
  padding: 20px;
}

/* ---- Vis ---- */
/* WordCloud */

.wordcloud {
  display: flex;
  flex-direction: column;
  user-select: none;
}
.wordcloud svg {
  margin: 1rem 0;
  cursor: pointer;
}

.wordcloud label {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  margin-right: 8px;
}
.wordcloud textarea {
  min-height: 100px;
}

.bold {
  font-weight: 700;
}

.long-url {
  overflow-wrap: anywhere;
  word-break: break-word;
}
